@model FinishOrderViewModel
@{
    ViewData["Title"] = "You order has been accepted.";
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://res.cloudinary.com/site-stuff/image/upload/q_100/v1545019230/tattooShop/money_dollars_bills_background_surface_65906_1920x1080.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h1>@ViewData["Title"]</h1>
                            <h3>Name of product: @Model.ProductName</h3><br />
                            <h3>Price: $@Model.FinalPrice</h3><br />
                            <h3>Address: @Model.DeliveryAddress</h3>
                            <h3>Expect delivery at: @Model.DeliveryDay</h3>
                            <h3>Thank you for ordering from us!</h3>
                            <a asp-area="Products" asp-controller="Products" asp-action="All" class="btn btn-success">Back to products</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>